
nav {
    background-color: rgb(35,65,91);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: rgb(35,65,91);
}

#ucn-logo {
    float: left;
    left: 18px;
    top: 25%;
    height: 30%;
    width: 30%;
}

#debug{
    border: 1px solid red;
}
